html body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  width: 100% ;
  height: 100%;
  display: grid;
}

.header{
  min-height: 75px;
  max-width: 100vw;
}

.container__overheader{
  max-width: 100vw;
  background-color: rgba(232, 232, 232, 0.485);
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pais{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  gap: 10px;
}

.texto-descuento{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  visibility: visible;
}

.ahora{
  text-decoration: underline;
  cursor: pointer;
}

.bandera{
  width: 30px;
  margin: 10px;
}

.ayuda{
  margin-right: 20px;
  cursor: pointer;
}

.descuento{
  font-weight: bold;
}

.main1{
  border-color: rgba(0, 0, 0, 0.153);
  border-style: solid none solid none; 
  border-width: thin;
  display: flex;
  flex-direction: row;
  max-height: 45px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.logo{
  margin: 10px;
  display: flex;
  width: 200px;
  margin-left: 20px;
}

.perfil img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.perfil:hover{
  transform: scale(1.3);
}

.carrito img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.carrito:hover{
  transform: scale(1.3);
}

.like img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.like:hover{
  transform: scale(1.3);
}

.lupa img{
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.lupa:hover{
  transform: scale(1.3);
}

.barra-inicio{
  display: flex;
  width: 300px;
  flex-direction: row;
  justify-content: end;
}

.grupo{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-right: 10px;
  align-content: end;
}

.info{
  padding: 11px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-color:rgba(0, 0, 0, 0.152) ;
  border-width: 3px;
}

.menu{
  justify-content: space-between;
}


.menu1 ul li{
  transition: 0.3s ease-in;;
}

.menu1 ul li:hover{
  background-color:#51a3a3;
  border-radius: 5px;
  color: white;
}

.img-menu{
  width: 30px;
  display: none;
  cursor: pointer;
}

li{
  list-style: none;
  cursor: pointer;
}

.menu_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
  min-height: 50vh;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease in;
}
.menu_nav_hidden{
  margin-top:10px;
}

.menu_nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.menu ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu_hidden{
  display: none;
}

.mujer{
  color:#51a3a3;
}

.inicio{
  display: flex;
  flex-direction: column;
  padding: 1px;
  align-items: center;
}

h3{
  font-size: 13px;
  font-weight: 400;
}

h2{
  font-size: 25px;
  margin-top: -5px;   
}

.barra{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.r-filtro{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  border: solid;
  border-style: solid none;
  border-width: thin;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

.filtro{
  width: 30px;
}

h8{
  display: none; 
}

.r-resultados{
  border: solid;
  border-width: thin;
  width: 100%;
  padding: 10px;
}

h4{
  font-weight: 400;
  font-size: 13px;
}

.r-orden{
  display: flex;
  flex-direction: row;
  width: 200px;
  border: solid;
  border-width: thin;
  border-style: solid none;
  align-items: start;
  padding: 10px;
  position: relative;
}

.img-flecha{
  width: 30px;
  padding-left: 20px;
  cursor: pointer;
}

.icono_flecha{
  position: absolute;
  display: flex;
  margin-top: 10px;
  z-index: 2;
}

li{
  list-style: none;
  cursor: pointer;
}

.orden_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 80px;
  left: -150px;
  background-color: rgb(255, 255, 255);
  width: 300px;
  z-index: 1;
  min-height: 80px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-weight: 900;
}
.orden_nav_hidden{
  margin-top:10px;
}

.orden_nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.orden_nav li{
  transition: 0.3s ease-in;
  border-radius: 3px;
  font-weight: 400;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.orden_nav li:hover {
  background-color: #51a3a3;
  color: white;
}

.orden_hidden{
  display: none;
}

.orden-hidden{
  display: none;
}

.flecha{
  width: 20px;
  object-fit: cover;
  cursor: pointer;
}

.articulos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100vw;
}

.zapatillas{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 65%;
  position: relative;
  margin-right: -50px;
  padding: 10px;
  justify-content: center;
}

.container-articulo1{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img1{
  display: flex;
  width: 100%;
  max-width: 200px;
  position: relative;
  padding: 20px;
}

.foto-like1{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like1:hover{
  transform: scale(1.2);
}

.foto1{
 position: absolute;
}

.texto1{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

h6{
  top: 50px;
  position: absolute;
}

.container-articulo2{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img2{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding: 20px;
}

.foto-like2{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like2:hover{
  transform: scale(1.2);
}

.foto2{
 position: absolute;
}

.texto2{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.container-articulo3{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img3{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding: 20px;
}

.foto-like3{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like3:hover{
  transform: scale(1.2);
}

.foto3{
 position: absolute;
}

.texto3{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.container-articulo4{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img4{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding: 20px;
}

.foto-like4{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like4:hover{
  transform: scale(1.2);
}

.foto4{
 position: absolute;
}

.texto4{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.container-articulo5{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img5{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding: 20px;
}

.foto-like5{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like5:hover{
  transform: scale(1.2);
}

.foto5{
 position: absolute;
}

.texto5{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.container-articulo6{
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 40px;
}

.container-img6{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  position: relative;
  padding: 20px;
}

.foto-like6{
  width: 40px;
  position: relative;
  z-index: 1;
  padding: 10px;
  cursor: pointer;
}

.foto-like6:hover{
  transform: scale(1.2);
}

.foto6{
 position: absolute;
}

.texto6{
  margin-top: 105px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.banner{
  display: flex;
  width: 35%; 
  position: relative;
  height: 100%;
}

.anuncio{
  width: 450px;
  object-fit: cover;
  padding: 50px;  
}

.mas-articulos{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}

.mas{
  padding: 10px;
  border: solid;
  border-radius: 5px;
  border-width: thin;
  cursor: pointer;
}

.mas:hover{
  transform: scale(1.1);
}

.container__footer{
  align-items: center;
  align-content: center;
}
  
.rrss{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.ig{
  width: 40px;
  cursor: pointer;
}

.ig:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.tw{
  width: 40px;
  cursor: pointer;
}

.tw:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.yt{
  width: 40px;
  cursor: pointer;
}

.yt:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.tk{
  width: 40px;
  cursor: pointer;
}

.tk:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.fb{
  width: 40px;
  cursor: pointer;
}

.fb:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.copy{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  background-color: rgb(187, 187, 187) ;
  height: 45px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.politica{
 margin-left: 15px;
}

.imgcopy{
  width: 30px;
  margin: 10px;
}

.fcopy{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

@media (max-width: 970px) {

  .container__mainheader{
    width: 100vw;
  }
  
    .main1{
      display: grid;
      grid-template-areas: 
      "menu logo barra";
      align-content: center;
      justify-content: space-between;
      align-items: center;
      padding: 0;
    }
    

    nav li {
      display: flex;
      list-style: none;
      align-items: center;
      font-weight: 400;
      font-size: 15px;
    }
    
    nav li{
      transition: background-color 0.3s ease-out;
    }
    
    nav li:hover{
      background-color:#51a3a3;
      border-radius: 5px;
      color: white;
      }

    .logo{
      grid-area: logo;
      margin-left: 100px;
      justify-content: end;
    }
    
    .barra-inicio{
      margin-left: 70px;
      padding: 1px;
      grid-area: barra;
      margin-left: 0;
    }
    
    .img-menu{
      display: block;
      display: menu;
      grid-area: menu;
      z-index: 2;
    }
    
    .icono_burguer{
      display: flex;
      display: menu;
      grid-area: menu;
      z-index: 2;
      position: absolute;
      top: 55px;
      padding-left: 10px;
    }
    
    .menu{
      display: none;
    }
    
    .carrito img{
      padding: 12px;
    }
    
    .lupa img{
      width: 30px;
      height: 30px;
      margin-left: 0px;
    }
    
    .perfil{
      display: none;
    }
    
    .like{
      display: none;
    }
    
    .buscar{
      display: none;
    }
    
    .info{
      border-style: none;
    }
    
    .texto-descuento{
      visibility: hidden;
    }

    .barra{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      padding: 20px;
    }
    
    .r-filtro{
      display: flex;
      border: solid;
      border-radius: 25px;
      border-width: thin;
      padding-left: 20px;
      padding-right: 20px;
    }
    
    .filtro{
      width: 30px;
    }
    
    h8{
      display: contents; 
    }
    
    .r-resultados{
      border: none;
      display: flex;
      width: 100%;
      padding: 20px; 
    }
    
    h4{
      font-weight: 400;
      font-size: 13px;
    }
    
    .r-orden{
      display: none;
    }
    
    .zapatillas{
      width: 100%;
      padding: 2px;
    }

    .banner{
      display: none;
    }

    .fcopy{
      display: flex;
      align-items: center;
    }
    
    .imgcopy{
      width: 40px;
      height: 40px;
    }
  }