

html body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.container{
  width: 100% ;
  height: 100%;
  display: grid;
}

/* header*/

.header{
  min-height: 75px;
  max-width: 100vw;
}

.container__overheader{
  max-width: 100vw;
  background-color: rgba(232, 232, 232, 0.485) ;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pais{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  gap: 10px;
}

.texto-descuento{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  visibility: visible;
}

.ahora{
  text-decoration: underline;
}

.bandera{
  width: 30px;
  margin: 10px;
}

.ayuda{
  margin-right: 20px;
}

.descuento{
  font-weight: bold;
}

/* barra menu */
/*AQUI */
.main1{
  border-color: rgba(0, 0, 0, 0.153);
  border-style: solid none solid none; 
  border-width: thin;
  display: flex;
  flex-direction: row;
  max-height: 45px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}

.logo{
  margin: 10px;
  display: flex;
  width: 200px;
  margin-left: 20px;
}

.perfil img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.perfil:hover{
  transform: scale(1.3);
}

.carrito img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.carrito:hover{
  transform: scale(1.3);
}

.like img{
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 10px;
}

.like:hover{
  transform: scale(1.3);
}

.lupa img{
  width: 25px;
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.lupa:hover{
  transform: scale(1.3);
}

.barra{
display: flex;
width: 300px;
flex-direction: row;
justify-content: end;
}

.grupo{
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  margin-right: 10px;
  align-content: end;
}

.info{
  padding: 11px;
  display: flex;
  width: 100%;
  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-style: solid;
  border-width: 3px;
  border-color:rgba(0, 0, 0, 0.153);
}

/*menu nav*/

.menu{
  justify-content: space-between;
  
}

.img-menu{
  width: 30px;
  display: none;
  cursor: pointer;
}

li{
  list-style: none;
  cursor: pointer;
  transition: 0.3s ease-in;
  border-radius: 5px;
}


.menu_nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  z-index: 1;
  min-height: 50vh;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s ease in;
}

.menu_nav_hidden{
  margin-top:10px;
}

.menu_nav ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.menu ul{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu_hidden{
  display: none;
}
/*HASTA AQUI*/


/*cuerpo*/

.container__foto{
  width: 100vw;
  display: flex;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
}

.foto-secundaria1{
  width: 100%;
  max-width: 800px ;
  max-height: 500px;
  object-fit: cover;
}

.foto-principal{
  width: 100%;
  max-width: 500px ;
  max-height: 600px;
  object-fit: cover;
}

.foto-secundaria2{
  width: 100%;
  max-width: 800px ;
  max-height: 500px;
  object-fit: cover;
}
/*Banner*/

.container__banner{
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
}

.banner__texto{
  color: white;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.container__banner button{
  border: none;
  background: none;
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  padding: 15px 100px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

}

/*Servicios*/

.container__servicios{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
  width: 100vw;
  margin: 50px;
}

.main__envio{
border: solid;
border-width: thin;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
width: 500px;
}

.main__envio:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.icono__caja{
  width: 50px;
}

.main__devoluciones{
border: solid;
border-width: thin;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
width: 500px;
}

.main__devoluciones:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.icono__devolucion{
  width: 50px;
}

.main__seguimiento{
  border: solid;
border-width: thin;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
width: 500px;
}

.icono__calendario{
  width: 50px;
}

.main__seguimiento:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.container__registro{
  display: none;
}

.container__footer{
  align-items: center;
  align-content: center;
}

/*Redes sociales */

.rrss{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.ig{
  width: 40px;
  cursor: pointer;
}

.ig:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)

}

.tw{
  width: 40px;
  cursor: pointer;
}

.tw:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.yt{
  width: 40px;
  cursor: pointer;
}

.yt:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.tk{
  width: 40px;
  cursor: pointer;
}

.tk:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

.fb{
  width: 40px;
  cursor: pointer;
}

.fb:hover{
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.1)
}

/*footer copy*/

.copy{
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  background-color:rgba(232, 232, 232, 0.485) ;
  height: 45px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.politica{
  margin-left: 15px;
}

.imgcopy{
  width: 30px;
  margin: 10px;
}

.fcopy{
  display: flex;
  flex-direction: row;
  margin-right: 15px;
}

/* MEDIA */

@media (max-width: 700px) {
  

.container__mainheader{
  width: 100vw;
}

nav li{
  transition: background-color 0.3s ease-out;
  font-size: 15px;
  font-weight: 400;
}

nav li:hover{
  background-color:#51a3a3;
  border-radius: 5px;
  color: white;
  
}

/**/
.main1{
  display: grid;
  grid-template-areas: 
  "menu logo barra";
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  
}

.logo{
  grid-area: logo;
  margin-left: 100px;
  justify-content: end;
}

.img-menu{
  display: block;
  display: menu;
  grid-area: menu;
  z-index: 2;
}

.barra{
margin-left: 70px;
padding: 1px;
grid-area: barra;
justify-content: center;
}

.lupa img{
  width: 30px;
  height: 30px;
  margin-left: 0px;
}

.carrito img{
  padding: 12px;
}

.icono_burguer{
  display: flex;
  display: menu;
  grid-area: menu;
  z-index: 2;
  position: absolute;
  top: 55px;
  margin-left: 10px;
}
/**/
.menu{
  display: none;
  min-height: 50vh;
}

.perfil{
  display: none;
}

.like{
  display: none;
}

.buscar{
  display: none;
}

.info{
  border-style: none;
}

.texto-descuento{
  visibility: hidden;
}

.foto-secundaria1{
  display: none;
}

.foto-secundaria2{
  display: none;
}

.container__foto{
padding: 0px;
margin: 0px;
gap: 0px;
width: 100vw;
}

.foto-principal{
  margin: 0px;
  width: 100%;
  max-width: 700px;
}

.banner__texto{
  margin: 20px;
}

.container__servicios{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  padding: 0;
  
}

.main__envio{
  border: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 400px;
}

.main__seguimiento{
  border: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 400px;
}

.main__devoluciones{
  border: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 400px;
}

.icono__calendario{
  margin-left: 20px;
}

.container__registro{
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: black;
  align-items: center;
  width: 100vw;
}

.registro__texto{
color: white;
padding: 20px;
margin: 0;
}

.main__correo{
  justify-content: center;
  margin-bottom: 25px;
}

.fcopy{
  display: flex;
  align-items: center;
}

.imgcopy{
  width: 40px;
  height: 40px;
}

}

.menu ul li:hover{
  background-color: #51a3a3;
  color: white;
}